body {
    color: #84c754;
    background-color: black;
    font: 100% Courier New;
    line-height: 26px;
    padding: 10px;
}

.card:hover {
    border: solid white 1px;
}

#sidebar {
    color: #ffffff;
    border: 0.1rem solid #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    line-height: 2rem;
}

.row {
    margin-top: 1.5rem;
}