body {
    font: 100% Verdana;
    line-height: 26px;
    padding: 10px;
}

.card:hover {
    box-shadow: 4px 8px #888888;
}


#sidebar {
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
    line-height: 2rem;
}

.row {
    margin-top: 1.5rem;
}

ul {
    padding-left: 20px;
}