{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <title>Main Page</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 align-items-stretch">
        <h1><strong>Welcome to Roman Nakutnyi's Portfolio Site</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h3>Started as a Python developer in 2019</h3>
        <h3>Has worked as a backend developer and as a QA automation engineer since then</h3>
      </div>
      <div class="col-4">
        <div id="sidebar">
          <a href="https://drive.google.com/file/d/1TBb-lmbFKKDiiGmKl8erZXeXwrvWZJ0h/view?usp=sharing">Resume</a><br>
          <a href="https://www.linkedin.com/in/nakutnyi/">Linkedin</a><br>
          <a href="https://github.com/nakutnyi">Github</a>
        </div>
      </div>
    </div>
    <h3>My mini-projects</h3>
    <div class="row">
      <div class="col-6 col-sm-4 d-flex align-items-stretch">
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title">Polling App</h5>
            <h6 class="card-subtitle mb-2">
              For the lack of better projects at the moment I'm posting this app from Django documentation
            </h6>
            <ul>
              <li>Django</li>
              <li>Bootstrap</li>
            </ul>
            <a  class="stretched-link" href="/polls"></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 d-flex align-items-stretch">
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title">Fake CSV Generator</h5>
            <h6 class="card-subtitle mb-2">
              Generate CSV files with fake data.
            </h6>
            <ul>
              <li>Django</li>
              <li>Celery</li>
              <li>Bootstrap</li>
              <li>Heroku</li>
              <li>AWS S3</li>
            </ul>
            <a class="stretched-link" href="https://fake-csv-app.herokuapp.com/"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
