{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
  <script src="{% static 'jquery-3.5.1.js' %}"></script>
  <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <title>Main Page</title>
</head>
<body class="light-background">
  <div class="container">
    <div class="row">
      <div class="btn-group btn-group-toggle">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" onclick="applyWhite()" autocomplete="off" checked> Light Theme
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" onclick="applyDark()" autocomplete="off"> Dark Theme
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-12 align-items-stretch">
        <h1><strong>Welcome to Roman Nakutnyi's Portfolio Site</strong></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8 col-sm-9">
        <h3>Started as a Python developer in 2019.</h3>
        <h3>Find more about me in the linked resources.</h3>
      </div>
      <div class="col-4 col-sm-3">
        <div id="sidebar">
          <a href="https://drive.google.com/file/d/1TBb-lmbFKKDiiGmKl8erZXeXwrvWZJ0h/view?usp=sharing"><strong>Resume</strong></strong></a><br>
          <a href="https://www.linkedin.com/in/nakutnyi/"><strong>Linkedin</strong></a><br>
          <a href="https://github.com/nakutnyi"><strong>Github</strong></a>
        </div>
      </div>
    </div>
    <h3>My mini-projects:</h3>
    <div class="row">
      <div class="col-6 col-sm-4 d-flex align-items-stretch">
        <div class="card text-white bg-info w-100">
          <div class="card-body">
            <h5 class="card-title">Polling App</h5>
            <h6 class="card-subtitle mb-2">
              For the lack of better projects at the moment I'm posting this app from Django documentation
            </h6>
            <ul>
              <li>Django</li>
              <li>Bootstrap</li>
            </ul>
            <a  class="stretched-link" href="/polls" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 d-flex align-items-stretch">
        <div class="card text-white bg-info w-100">
          <div class="card-body">
            <h5 class="card-title">Fake CSV Generator</h5>
            <h6 class="card-subtitle mb-2">
              Generate CSV files with fake data.
            </h6>
            <ul>
              <li>Django</li>
              <li>Celery</li>
              <li>Bootstrap</li>
              <li>Heroku</li>
              <li>AWS S3</li>
            </ul>
            <a class="stretched-link" href="https://fake-csv-app.herokuapp.com/" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function applyDark() {
      $("body").css("font", "100% Courier New");
      $("body").css("color", "#84c754");
      $(".card").removeClass("bg-info");
      $(".card").addClass("bg-dark");
      $("body").removeClass("light-background");
      $("body").addClass("dark-background");
    }
    function applyWhite() {
      $("body").css("font", "100% Verdana");
      $("body").css("color", "black");
      $(".card").removeClass("bg-dark");
      $(".card").addClass("bg-info");
      $("body").removeClass("dark-background");
      $("body").addClass("light-background");
    }
  </script>
</body>
</html>
