<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Index</title>
    <style>
        body {color: #84c754; background-color: black; font: 100% Courier New; line-height: 26px; padding: 10px;}
      </style>
</head>
<body>
    <h1>Welcome to My Portfolio Site</h1>
    <h4>Below are my Django mini-projects:</h4>
    <a href="/polls">Polling app from django's documentation</a><br>
    <a href="https://fake-csv-app.herokuapp.com/">Fake CSV generation app</a>
</body>
</html>
